<?php
/**
 * <%= name %> Controller
 
 * @package		<%= name %>
 * @subpackage	Component
 * @license		<%= licenses.join(', ') %>
 */
 
// No direct access to this file
defined('_JEXEC') or die('Restricted access');

// import Joomla controller library
jimport('joomla.application.component.controller');

class <%= name %>Controller<%= view %> extends JController 
{

}