<?php
/**
 * <%= name %> Template <%= view %>
 
 * @package		<%= name %>
 * @subpackage	Component
 * @license		<%= licenses.join(', ') %>
 */
 
// No direct access to this file
defined('_JEXEC') or die('Restricted access');
?>

<div>
    <h1><%= name %></h1>
</div>