<?php
/**
 * {%= name %} Template {%= view %}
 
 * @package		{%= name %}
 * @subpackage	Component
 * @license		{%= licenses.join(', ') %}
 */
 
// No direct access to this file
defined('_JEXEC') or die('Restricted access');
?>

<div>
<!-- OUTPUT CUSTOM HTML HERE -->
</div>