<?php
/**
 * <%= grunt.config('name') %> Model <%= grunt.config('view') %>
 
 * @package		<%= grunt.config('name') %>
 * @subpackage	Component
 * @license		<%= grunt.config('licenses').join(', ') %>
 */
 
// No direct access to this file
defined('_JEXEC') or die('Restricted access');

// import Joomla modelitem library
jimport('joomla.application.component.modelitem');

// import model table
require_once(dirname(__FILE__) . DS . 'tables' . DS . '<%= grunt.config('view').toLowerCase() %>.php');


class <%= grunt.config('name') %>Controller<%= grunt.config('view') %> extends JController 
{

}