<?php
/**
 * <%= grunt.config('name') %> Table <%= grunt.config('view') %>
 
 * @package		<%= grunt.config('name') %>
 * @subpackage	Component
 * @license		<%= grunt.config('licenses').join(', ') %>
 */
 
// No direct access
defined('_JEXEC') or die('Restricted access');

// import Joomla table library
jimport('joomla.database.table');
 

class <%= grunt.config('name') %>Table<%= grunt.config('view') %> extends JTable 
{
    function __construct(&$db) {
        parent::__construct('#__<%= grunt.config('database') %>', 'id', $db);
    }
}