<?php
/**
 * <%= grunt.config('name') %> View <%= grunt.config('view') %>
 
 * @package		<%= grunt.config('name') %>
 * @subpackage	Component
 * @license		<%= grunt.config('licenses').join(', ') %>
 */
 
// No direct access to this file
defined('_JEXEC') or die('Restricted access');

// import Joomla view library
jimport('joomla.application.component.view');

class <%= grunt.config('name') %>View<%= grunt.config('view') %> extends JView 
{
    function display($tpl = null) {
        $this->item = $this->get('Item');

        parent::display($tpl);
    }
}