<?xml version="1.0" encoding="utf-8"?>
<metadata>
    <layout title="COM_<%= name.toUpperCase() %>_<%= view.toUpperCase() %>_VIEW_DEFAULT_TITLE">
        <message>
            <![CDATA[COM_<%= name.toUpperCase() %>_<%= view.toUpperCase() %>_VIEW_DEFAULT_DESC]]>
        </message>
    </layout>
</metadata>
